
<form name="form1" method="get">
    <select name="h_area1" onChange="cat1_change(this.value,h_area2)" id ="add1" style="width:200px; height:50px; font-size:30pt test-align:center">
        <option>-선택-</option>
        <option value='1'>서울특별시</option>
        <option value='2'>부산광역시</option>
        <option value='3'>대구광역시</option>
        <option value='4'>인천광역시</option>
        <option value='5'>광주광역시</option>
        <option value='6'>대전광역시</option>
        <option value='7'>울산광역시</option>
        <option value='8'>강원도</option>
        <option value='9'>경기도</option>
        <option value='10'>경상남도</option>
        <option value='11'>경상북도</option>
        <option value='12'>전라남도</option>
        <option value='13'>전라북도</option>
        <option value='14'>제주특별자치도</option>
        <option value='15'>충청남도</option>
        <option value='16'>충청북도</option>
    </select>

    <select name="h_area2" id ="add2" style="width:200px;height:50px;">
        <option>-선택-</option>
    </select>

    {{>layout/Address}}
    <button type="button" id ="searchBtn" onclick="button1_click();">검색</button>


<script>
function button1_click() {
	var target1 = document.getElementById("add1");
    var target2 = document.getElementById("add2");
    var add = target1.options[target1.selectedIndex].text + " "+ target2.options[target2.selectedIndex].text
    window.location.href = '/test2='+add;
}
</script>

</form>



