
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Searching Electric charging station</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/fullpage.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/templatemo-style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
<div id="video">
    <div class="preloader">
        <div class="preloader-bounce">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>


    <header id="header">
        <div class="container-fluid">
            <div class="navbar">
                <a href="#" id="logo" title="Elegance by TemplateMo">
                    E.C STATION
                </a>

            </div>
        </div>
    </header>

    <video autoplay muted loop id="myVideo">
        <source src="/images/NIO ES8.mp4" type="video/mp4">
    </video>

<div id="fullpage" class="fullpage-default">

    <!-- 메인페이지 -->
    <div class="section animated-row" data-section="slide01">
        <div class="section-inner">
            <div class="welcome-box">

                <div class = "col-md-12">
                    <div class = "row">
                        <div class = "col-md-6">
                        </div>
                    </div>
                    <br>
                    {{>addressSelection}}
                    <br>
                    <!-- 목록 출력 영역 -->
                    <table width="10" class="table table-horizontal table-bordered">
                        <thead class="thead-strong">
                        <tr>
                            <th>주소</th>
                            <th>충전기 타입</th>
                        </tr>
                        </thead>
                        <tbody width="10" id="tbody">
                        {{#posts}}
                            <tr>
                                <td> <a href="/map/{{id}}">{{add}}</td>
                                <td>{{type}}</td>
                            </tr>
                        {{/posts}}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>

</div>
<div id="social-icons">
    <div class="text-right">
        <ul class="social-icons">
            <li><a href="https://github.com/KIM-JS-95" title="Github"><i class="fa fa-github"></i></a></li>
            <li><a href="https://instagram.com/k.jasoooon" title="Instagram"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
</div>

</div>



<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fullpage.min.js"></script>
<script src="js/scrolloverflow.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/form.js"></script>
<script src="js/custom.js"></script>


</body>
</html>