
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title> Searching Electric charging station</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/fullpage.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/templatemo-style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

<div id="video">
    <div class="preloader">
        <div class="preloader-bounce">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <header id="header">
        <div class="container-fluid">
            <div class="navbar">
                <a href="#" id="logo" title="Elegance by TemplateMo">
                    E.C STATION
                </a>
                <div class="navigation-row">
                    <nav id="navigation">
                        <button type="button" class="navbar-toggle"> <i class="fa fa-bars"></i> </button>
                        <div class="nav-box navbar-collapse">
                            <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                                <li data-menuanchor="slide01" class="active"><a href="#slide01">Home</a></li>
                                <li data-menuanchor="slide02"><a href="#slide02">Search</a></li>
                                <li data-menuanchor="slide03"><a href="#slide03">Map</a></li>
                                <li data-menuanchor="slide04"><a href="#slide04">My Skills</a></li>
                                <li data-menuanchor="slide05"><a href="#slide05">My Work</a></li>
                                <li data-menuanchor="slide06"><a href="#slide06">Testimonials</a></li>
                                <li data-menuanchor="slide07"><a href="#slide07">Contact Me</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <video autoplay muted loop id="myVideo">
        <source src="/images/Model Y Deliveries Begin!.mp4" type="video/mp4">
    </video>

    <div id="fullpage" class="fullpage-default">

        <!-- 메인페이지 -->
        <div class="section animated-row" data-section="slide01">
            <div class="section-inner">
                <div class="welcome-box">
                    <span class="welcome-first animate" data-animate="fadeInUp">Hello, welcome to</span>
                    <h3 class="welcome-title animate" data-animate="fadeInUp">Electric Charging station<br>Searching Pages</h3>

                    Pages create by. KIM J.S
                    <p class="animate" data-animate="fadeInUp">
                    </p>
                    <div class="scroll-down next-section animate data-animate="fadeInUp""><img src="images/mouse-scroll.png" alt=""><span>Scroll Down</span></div>
            </div>
        </div>
    </div>

    <!-- 주소 검색 -->
    <div class="section animated-row" data-section="slide02">
        <div class="section-inner">
            <div class="about-section">
                <div class="row justify-content-center">
                    <div class="col-lg-8 wide-col-laptop">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="about-contentbox">
                                    <div class="animate" data-animate="fadeInUp">
                                        <h2>Let me tell you the location of the charging station you want.</h2>
                                        <p style="font-size:30px;"> 대한민국에는 <br><strong>100000개의</strong> <br>전기 충전소가 배치되어 있습니다.</p>
                                        <p style="font-size:20px;">E.C STATION에서 충전소와 함께 편의 시설의 위치 정보를 확인하세요.</p>
                                    </div>
                                        <div class="item animate" data-animate="fadeInUp">
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <figure class="about-img animate" data-animate="fadeInUp"></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section animated-row" data-section="slide03">
        <div class="section-inner">
            <div class="row justify-content-center">
                <div class="col-md-8 wide-col-laptop">

                    <div class="title-block animate" data-animate="fadeInUp">
                        <span>Services</span>
                        <h2>Enter the address of the desired location</h2>

                        {{>addressSelection}}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section animated-row" data-section="slide04">
        <div class="section-inner">
            <div class="row justify-content-center">
                <div class="col-md-7 wide-col-laptop">
                    <div class="title-block animate" data-animate="fadeInUp">
                        <span>My Skills</span>
                        <h2>What i’m good?</h2>
                    </div>
                    <div class="skills-row animate" data-animate="fadeInDown">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <div class="skill-item">
                                    <h6>HTML CSS</h6>
                                    <div class="skill-bar">
                                        <span>70%</span>
                                        <div class="filled-bar"></div>
                                    </div>
                                </div>
                                <div class="skill-item">
                                    <h6>PSD Design</h6>
                                    <div class="skill-bar">
                                        <span>90%</span>
                                        <div class="filled-bar-2"></div>
                                    </div>
                                </div>
                                <div class="skill-item">
                                    <h6>Social Media</h6>
                                    <div class="skill-bar">
                                        <span>70%</span>
                                        <div class="filled-bar"></div>
                                    </div>
                                </div>
                                <div class="skill-item last-skill">
                                    <h6>Leadership</h6>
                                    <div class="skill-bar">
                                        <span>90%</span>
                                        <div class="filled-bar-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section animated-row" data-section="slide06">
        <div class="section-inner">
            <div class="row justify-content-center">
                <div class="col-md-8 wide-col-laptop">
                    <div class="title-block animate" data-animate="fadeInUp">
                        <span>HOME PAGES</span>
                        <h2>which one is your favorite Brand</h2>
                    </div>

                    <div class="gallery-section">
                        <div class="gallery-list owl-carousel">

                            <div class="item animate" data-animate="fadeInUp">
                                <div class="portfolio-item">
                                    <div class="thumb">
                                        <img src="images/NIO.jpg" alt="">
                                    </div>
                                    <div style="overflow-y:auto;"class="thumb-inner animate" data-animate="fadeInUp">
                                        <h4>NIO</h4>
                                        <p onclick="javascript:location.href='https://www.nio.com/';"> -> Home link</p>
                                        <p >NIO is a pioneer in China's premium electric vehicle market. We design, co-manufacture and sell smart, connected premium electric vehicles, driving next-generation connectivity, autonomous driving and artificial intelligence innovation, reflecting our vision and commitment to a more environmentally friendly future.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="item animate" data-animate="fadeInUp">
                                <div class="portfolio-item">
                                    <div class="thumb">
                                        <img src="images/TESLA.PNG" alt="">
                                    </div>
                                    <div style="overflow-y:auto;" class="thumb-inner animate" data-animate="fadeInUp">
                                        <h4>TESLA</h4>
                                        <p onclick="javascript:location.href='https://www.tesla.com/';" > -> Home link </p>
                                        <p>Tesla, which produces the most affordable cars, is reducing product access and price burdens, allowing more people to buy Tesla vehicles, ultimately speeding up the transportation of zero emissions and the realization of clean energy production. Electric vehicles, batteries and renewable energy generation and storage already exist independently, but when combined, they can be much more powerful. This is the future Tesla is drawing.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="item animate" data-animate="fadeInUp">
                                <div class="portfolio-item">
                                    <div class="thumb">
                                        <img src="images/renault.jpg" alt="">
                                    </div>
                                    <div style="overflow-y:auto;" class="thumb-inner animate" data-animate="fadeInUp">
                                        <h4>RENAULT</h4>
                                        <p onclick="javascript:location.href='https://www.renault.co.kr/';" > -> Home link </p>
                                        <p>Renault's global brand Renault sells about 30 different kinds of cars in 134 countries around the world. Founded in 1898, Renault is pursuing new challenges with reasonable prices, and Renault's history has been with the history of the automobile industry.

                                            Nothing is more important than defining the Renault brand, innovation for better lives for drivers and passengers. Starting with the goal of providing an easier and more comfortable driving environment, Renault's ultimate goal is to complete a vehicle that is excellent in many ways, including optimized power, performance and handling, through innovation in engine technology.</p>
                                    </div>
                                </div>
                            </div>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section animated-row" data-section="slide05">
        <div class="section-inner">
            <div class="row justify-content-center">
                <div class="col-md-8 wide-col-laptop">
                    <div class="title-block animate" data-animate="fadeInUp">
                        <span>TESTIMONIALS</span>
                        <h2>what THEY SAY?</h2>
                    </div>
                    <div class="col-md-8 offset-md-2">
                        <div class="testimonials-section">
                            <div class="testimonials-slider owl-carousel">
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="testimonial-item">
                                        <div class="client-row">
                                            <img src="images/profile-01.jpg" class="rounded-circle" alt="profile 1">
                                        </div>
                                        <div class="testimonial-content">
                                            <h4>Sandar</h4>
                                            <p>"Ut varius leo eu mauris lacinia, eleifend posuere urna gravida. Aenean a mattis lacus."</p>
                                            <span>Managing Director</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="testimonial-item">
                                        <div class="client-row">
                                            <img src="images/profile-01.jpg" class="rounded-circle" alt="profile 2">
                                        </div>
                                        <div class="testimonial-content">
                                            <h4>Shinn</h4>
                                            <p>"Nam iaculis, leo nec facilisis sollicitudin, dui massa tempus odio, vitae malesuada ante elit vitae eros."</p>
                                            <span>CEO and Founder</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="testimonial-item">
                                        <div class="client-row">
                                            <img src="images/profile-01.jpg" class="rounded-circle" alt="profile 3">
                                        </div>
                                        <div class="testimonial-content">
                                            <h4>Marlar</h4>
                                            <p>"Etiam efficitur, tortor facilisis finibus semper, diam magna fringilla lectus, et fringilla felis urna posuere tortor."</p>
                                            <span>Chief Marketing Officer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section animated-row" data-section="slide07">
        <div class="section-inner">
            <div class="row justify-content-center">
                <div class="col-md-7 wide-col-laptop">
                    <div class="title-block animate" data-animate="fadeInUp">
                        <span>Contact</span>
                        <h2>Get In Touch!</h2>
                    </div>



                    <div class="contact-section">
                        <div class="row">
                            <div class="col-md-6 animate" data-animate="fadeInUp">
                                <div class="contact-box">
                                    <div class="contact-row">
                                        <i class="fa fa-instagram"></i> https://instagram.com/k.jasoooon
                                    </div>
                                    <div class="contact-row">
                                        <i class="fa fa-envelope"></i> baugh248730@gmail.com
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate" data-animate="fadeInUp">
                                <form id="ajax-contact" method="post" action="baugh248730@gmail.com">



                                    <div class="input-field">
                                        <text> hi! </text>
                                    </div>


                                </form>
                                <div id="form-messages" class="mt-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="social-icons">
    <div class="text-right">
        <ul class="social-icons">
            <li><a href="https://github.com/KIM-JS-95" title="Github"><i class="fa fa-github"></i></a></li>
            <li><a href="https://instagram.com/k.jasoooon" title="Instagram"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
</div>
</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fullpage.min.js"></script>
<script src="js/scrolloverflow.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/form.js"></script>
<script src="js/custom.js"></script>
</body>
</html>